#main {
    margin-top: 200px;
}

#login Card {
    /* background-color: rgb(225, 223, 221); */
}


#dashboard-container {
    margin-top: 10px;
    background-color: blue;
}   

.kgl-headers {
    background-color: beige;
}

#myaccount{
    background-color: rgb(178, 32, 163);

}